.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #47d5f8, #ffffff);
  height: 100vh;
  padding: 40px;
}

.home-logo {
  width: 300px;
  margin-bottom: 20px;
}

.home-title {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}

.home-button {
  background-color: #3691E0;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 20px 40px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Adicione esta linha para remover o sublinhado */
}

.home-button:hover {
  background-color: #256cad;
}
