@import "~@fortawesome/fontawesome-free/css/all.css";

.register-body {
  background-image: linear-gradient(rgba(68, 211, 255, 0.637), rgba(255, 255, 255, 0.861)), url('../../figs/background-login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  backdrop-filter: blur(3px);
}

.register-container {
  background: linear-gradient(rgba(255, 255, 255, 0.861), rgba(117, 199, 237, 0));
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(141, 206, 232, 0.1);
  padding: 30px;
  max-width: 800px;
  width: 80%;
  margin-top: 40px;
}

.register-title {
  text-align: center;
  margin-bottom: 40px;
  color: #303b8f;
  font-size: 30px;
  font-family: 'Courier New', serif;
}

.register-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.register-label {
  margin-left: 22px;
  margin-bottom: 10px;
  text-transform: capitalize;
  color: #303b8f;
  font-size: 18px;
}

.register-input {
  margin-bottom: 15px;
  width: 90%;
  margin-left: 20px;
  margin-right: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.register-input:focus {
  outline: none;
  border-color: #007bff;
}

.register-button {
  background-color: #3691e0;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.invalid {
  border-color: #dc3545;
}

.register-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.register-message {
  color: #28a745;
  font-size: 12px;
  margin-top: 5px;
}

.invalid-message {
  color: red;
}

.valid-message {
  color: #28a745;
  font-size: 14px;
  margin-top: 5px;
}

.register-input.invalid {
  border-color: #dc3545;
}

.register-input.valid {
  border-color: #28a745;
}

/* Estilos para dispositivos móveis */
@media (max-width: 375px) {
  .register-input {
    width: 85%;
    margin-left: 10px;
    margin-right: 5px;
  }
  .register-label {
    margin-left: 10px;
  }
}

/* Estilos para tablets */
@media (min-width: 376px) and (max-width: 768px) {
  .register-input {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .register-label {
    margin-left: 12px;
  }
}

/* Estilos para computadores */
@media (min-width: 769px) {
  .register-input {
    width: 91%;
    margin-left: 10px;
    margin-right: 10px;
  }
  .register-label {
    margin-left: 12px;
  }
}
